.layout--image,
.layout--video {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.layout--image:before,
.layout--video:before {
  background-color: black;
  content: ' ';
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.layout--image .layout__container,
.layout--video .layout__container {
  position: relative;
  z-index: 20;
}

@media only screen and (min-width: 48.0625em) {
  .layout--video.layout--image {
    background-image: none !important;
  }
  .layout--video.layout--image .layout__image {
    display: none;
  }
}

.layout__video {
  display: none;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

@media only screen and (min-width: 48.0625em) {
  .layout__video {
    display: block;
  }
}

.layout__video video {
  height: auto !important;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: auto !important;
}

.layout__image {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.layout__image img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: none;
}

.layout--bg-c .layout__image img {
  object-fit: contain;
  object-position: center;
}

.layout--bg-br .layout__image img {
  object-fit: none;
  object-position: bottom right;
}

.layout--bg-tr .layout__image img {
  object-fit: none;
  object-position: top right;
}

.layout--bg-bl .layout__image img {
  object-fit: none;
  object-position: bottom left;
}

.layout--bg-tl .layout__image img {
  object-fit: none;
  object-position: top left;
}

.layout--bg-tc .layout__image img {
  object-fit: none;
  object-position: top center;
}

.layout--bg-bc .layout__image img {
  object-fit: none;
  object-position: bottom center;
}

.layout--parallax {
  background-attachment: fixed;
}

html.object-fit .layout--image {
  background-image: none !important;
}

html.no-object-fit .layout--image .layout__image,
.layout--image.layout--parallax .layout__image {
  display: none;
}

.layout--text-light * {
  border-color: #ffffff !important;
  color: #ffffff !important;
}

.layout--text-light * .contextual-links a {
  color: #222222 !important;
}

.layout--text-light * a,
.layout--text-light * a:focus,
.layout--text-light * a:hover {
  color: #ffffff !important;
}

.layout--text-light * a:focus,
.layout--text-light * a:hover {
  text-decoration: underline;
}

.layout--text-light * .field--type-text-long a,
.layout--text-light * .field--type-text-with-summary a,
.layout--text-light * .links a {
  text-decoration: underline;
}

.layout--text-dark * {
  border-color: #222222 !important;
  color: #222222 !important;
}

.layout--text-dark * .contextual-links a {
  color: #222222 !important;
}

.layout--text-dark * a,
.layout--text-dark * a:focus,
.layout--text-dark * a:hover {
  color: #222222 !important;
}

.layout--text-dark * .field--type-text-long a,
.layout--text-dark * .field--type-text-with-summary a,
.layout--text-dark * .links a {
  text-decoration: underline;
}
