// Layout spacing styles.
// If you are excluding the layout styles in your theme, you can use this
// partial as a starte for applying similar styles in your theme.

// Variables
//------------------------------------------------------------------------------
@import 'layout-variables';

$container-padding: 1.25rem; // 20px
$layout-maxwidth: 75rem; // 1200px
$layout-padding: 4.6875rem; // 75px
$layout-margin: 0.75rem; // 12px
$layout-breakpoint: $xsmall-up;

// Layout
//------------------------------------------------------------------------------
%container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: $layout-maxwidth + 2 * $container-padding;
  padding: 0 $container-padding;
}

.layout__container {
  // Some content types need this to contain the max width of the content. If we
  // use layout sections in a basic page that has sidebars, for example, we
  // don't need or want to restrict the max width of the layout content and we
  // don't need outer padding.
  .page-node-type-layout & {
    @extend %container;
  }
}

// Add margins to column layouts.
.layout__content {
  @media #{$layout-breakpoint} {
    margin-left: -1 * $layout-margin;
    margin-right: -1 * $layout-margin;
  }  
}

.layout__region {
  @media #{$layout-breakpoint} {
    padding-left: $layout-margin;
    padding-right: $layout-margin;
  }

  + .layout__region {
    @media #{$layout-breakpoint} {
      margin-top: 0;
    }
    margin-top: 2 * $layout-margin;
  }
}


// When more than one block is in a given layout section.
.layout__region {
  > .block + .block {
    @media #{$small-up} {
      margin-top: $layout-padding * 0.75;
    }
    @media #{$medium-up} {
      margin-top: $layout-padding;
    }
    margin-top: $layout-padding * 0.5;
  }
}

// Paragraph headings
.layout__heading {
  margin: 0 0 1.05em;
}

// Padding
.layout--padding-top-default {
  @media #{$small-up} {
    padding-top: $layout-padding * 0.75;
  }
  @media #{$medium-up} {
    padding-top: $layout-padding;
  }
  padding-top: $layout-padding * 0.5;
}

.layout--padding-bottom-default {
  @media #{$small-up} {
    padding-bottom: $layout-padding * 0.75;
  }
  @media #{$medium-up} {
    padding-bottom: $layout-padding;
  }
  padding-bottom: $layout-padding * 0.5;
}

.layout--padding-top-half {
  @media #{$small-up} {
    padding-top: ($layout-padding / 2) * 0.75;
  }
  @media #{$medium-up} {
    padding-top: $layout-padding / 2;
  }
  padding-top: ($layout-padding / 2) * 0.5;
}

.layout--padding-bottom-half {
  @media #{$small-up} {
    padding-bottom: ($layout-padding / 2) * 0.75;
  }
  @media #{$medium-up} {
    padding-bottom: $layout-padding / 2;
  }
  padding-bottom: ($layout-padding / 2) * 0.5;
}

.layout--padding-top-quarter {
  @media #{$small-up} {
    padding-top: ($layout-padding / 4) * 0.75;
  }
  @media #{$medium-up} {
    padding-top: $layout-padding / 4;
  }
  padding-top: ($layout-padding / 4) * 0.5;
}

.layout--padding-bottom-quarter {
  @media #{$small-up} {
    padding-bottom: ($layout-padding / 4) * 0.75;
  }
  @media #{$medium-up} {
    padding-bottom: $layout-padding / 4;
  }
  padding-bottom: ($layout-padding / 4) * 0.5;
}

.layout--padding-top-zero {
  padding-top: 0;
}

.layout--padding-bottom-zero {
  padding-bottom: 0;
}

// Negative top margins.
.layout--padding-top-n-default {
  .layout__container {
    @media #{$small-up} {
      margin-top: -1 * $layout-padding * 0.75;
    }
    @media #{$medium-up} {
      margin-top: -1 * $layout-padding;
    }
    margin-top: -1 * $layout-padding * 0.5;
    position: relative;
  }
}

.layout--padding-top-n-half {
  .layout__container {
    @media #{$small-up} {
      margin-top: -1 * ($layout-padding / 2) * 0.75;
    }
    @media #{$medium-up} {
      margin-top: -1 * $layout-padding / 2;
    }
    margin-top: -1 * ($layout-padding / 2) * 0.5;
    position: relative;
  }
}

.layout--padding-top-n-quarter {
  .layout__container {
    @media #{$small-up} {
      margin-top: -1 * ($layout-padding / 4) * 0.75;
    }
    @media #{$medium-up} {
      margin-top: -1 * $layout-padding / 4;
    }
    margin-top: -1 * ($layout-padding / 4) * 0.5;
    position: relative;
  }
}

// Widths
@for $width from 1 through 10 {
  .layout--width-#{$width}0 .layout__container {
    max-width: #{$width * ($layout-maxwidth / 10)};
  }
}

// Stretch everything edge-to-edge for full width layout.
.layout--width-fs {
  .layout__container {
    max-width: none;
    padding-left: 0;
    padding-right: 0;
  }

  .layout__heading {
    @extend %container;
  }

  .layout__content {
    margin-left: 0;
    margin-right: 0;
  }

  .layout__region {
    padding-left: 0;
    padding-right: 0;
  }
}
